EXPO_PUBLIC_API_URL=https://development.afomamarketplace.com

EXPO_PUBLIC_API_KEY=gCV_WZOz9nIa8QwTyEFvccQmIK94Ufxm

EXPO_PUBLIC_WEB_URL=https://development.afomamarketplace.com

EXPO_PUBLIC_PAYPAL_CLIENT_ID=AeLhBiWTIj8FgOdkEMzESph-_0DR17SjTkxPxPZX6M11bTjRqBo-ArzosU-ZJYcAaQy1hOHNGQkj7lYs

EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=

EXPO_PUBLIC_STRIPE_MERCHANT_IDENTIFIER=merchant.com.afoma

